Alipay/minProject/API-Demo/.tea/
Alipay/minProject/API-Demo/node_modules/
Alipay/minProject/DawnHope/.tea/
Alipay/minProject/DawnHope/node_modules/
Alipay/minProject/dingding/.tea/
Alipay/minProject/dingding/node_modules/
es6/practice/node_modules/
es6/practice/lottery/.idea/
es6/practice/lottery/node_modules/
es6/tool-babelrc/.idea/
es6/tool-babelrc/node_modules/