<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
</head>
<body>
<form action="/users/add" method="post">
    ID：<input type="text" name="id"><br>
    公司：<input type="text" name="company"><br>
    负责人：<input type="text" name="perMain"><br>
    合同：<input type="text" name="tpyContract"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>
