<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= title %></h1>

    <h2>这是开始页 可以是登录</h2>
    <h3><a href="/users">跳转到用户列表</a></h3>

  </body>
</html>
